<div class="container m-6">
  <h1 class="text-light text-center">Kaziranga National Park</h1> <br>
  <div class="container">
    <div class="list-group list-group-flush">
      <span class="border border-light border-top-0 border-right-0 border-left-0">
        <a href="" data-toggle="collapse" data-target="#demo" aria-expanded="true" aria-controls="demo" class="list-group-item list-group-item-action">About</a>
          <div id="demo" class="collapse show"> 
            <div class="container-fluid m-3"> 
              Kaziranga National Park is a national park in the Golaghat and Nagaon districts of the state of Assam, India. 
              The sanctuary, which hosts two-thirds of the world's great one-horned rhinoceroses, is a World Heritage Site. According to the census held in March 2018 which was jointly conducted by the Forest Department of the Government of Assam and some recognized wildlife NGOs, 
              the rhino population in Kaziranga National Park is 2,413. It comprises 1,641 adult rhinos (642 males, 793 females, 206 unsexed); 387 sub-adults (116 males, 149 females, 122 unsexed); and 385 calves.
              In 2015, the rhino population stood at 2401. Kaziranga is home to the highest density of tigers among protected areas in the world, and was declared a Tiger Reserve in 2006 (now the highest tiger density is in Orang National Park, Assam) . 
              The park is home to large breeding populations of elephants, wild water buffalo, and swamp deer.Kaziranga is recognized as an Important Bird Area by BirdLife International for conservation of avifaunal species. 
              When compared with other protected areas in India, Kaziranga has achieved notable success in wildlife conservation. Located on the edge of the Eastern Himalaya biodiversity hotspot, the park combines high species diversity and visibility.
              Kaziranga is a vast expanse of tall elephant grass, marshland, and dense tropical moist broadleaf forests, criss-crossed by four major rivers, including the Brahmaputra, and the park includes numerous small bodies of water. 
              Kaziranga has been the theme of several books, songs, and documentaries. The park celebrated its centennial in 1998 after its establishment in 1905 as a reserve forest.
            </div>
          </div>    
      </span>
      <span class="border border-light  border-right-0 border-left-0">
        <a href="" data-toggle="collapse" data-target="#his" class="list-group-item list-group-item-action">History</a>
          <div id="his" class="collapse">
            <div class="container-fluid m-3">  
              The history of Kaziranga as a protected area can be traced back to 1904, when Mary Curzon, Baroness Curzon of Kedleston, the wife of the Viceroy of India, Lord Curzon of Kedleston, visited the area. 
              After failing to see a single rhinoceros, for which the area was renowned, she persuaded her husband to take urgent measures to protect the dwindling species which he did by initiating planning for their protection. 
              On 1 June 1905, the Kaziranga Proposed Reserve Forest was created with an area of 232 km2 (90 sq mi).[6]
              Over the next three years, the park area was extended by 152 km2 (59 sq mi), to the banks of the Brahmaputra River.[7][failed verification] In 1908, Kaziranga was designated a "Reserve Forest". 
              In 1916, it was redesignated the "Kaziranga Game Sanctuary" and remained so till 1938, when hunting was prohibited and visitors were permitted to enter the park.
            </div> 
          </div>
      </span>
      <span class="border border-light border-right-0 border-left-0">
        <a href="" data-toggle="collapse" data-target="#geo" class="list-group-item list-group-item-action">Geography</a>
          <div id="geo" class="collapse">
            <div class="container-fluid m-3">  
              Kaziranga is located between latitudes 26°30' N and 26°45' N, and longitudes 93°08' E to 93°36' E within two districts in the Indian state of Assam—the Kaliabor subdivision of Nagaon district and the Bokakhat subdivision of Golaghat district.
              The park is approximately 40 km (25 mi) in length from east to west, and 13 km (8 mi) in breadth from north to south.[12] Kaziranga covers an area of 378 km2 (146 sq mi), with approximately 51.14 km2 (20 sq mi) lost to erosion in recent years. 
              A total addition of 429 km2 (166 sq mi) along the present boundary of the park has been made and designated with separate national park status to provide extended habitat for increasing the population of wildlife or, as a corridor for safe movement of animals to Karbi Anglong Hills. 
              Elevation ranges from 40 m (131 ft) to 80 m (262 ft). The park area is circumscribed by the Brahmaputra River, which forms the northern and eastern boundaries, and the Mora Diphlu, which forms the southern boundary. 
              Other notable rivers within the park are the Diphlu and Mora Dhansiri.
            </div>            
          </div>
      </span>
      <span class="border border-light border-right-0 border-left-0">
        <a href="" data-toggle="collapse" data-target="#cli" class="list-group-item list-group-item-action">Climate</a>
          <div id="cli" class="collapse">
            <div class="container-fluid m-3">  
              The park experiences three seasons: summer, monsoon, and winter. The winter season, between November and February, is mild and dry, with a mean high of 25 °C (77 °F) and low of 5 °C (41 °F).
              During this season, beels and nullahs (water channels) dry up.[14]:p.06 The summer season between March and May is hot, with temperatures reaching a high of 37 °C (99 °F).[citation needed] During this season, animals usually are found near water bodies.
              The rainy monsoon season lasts from June to September, and is responsible for most of Kaziranga's annual rainfall of 2,220 mm (87 in).[18][citation needed] During the peak months of July and August, three-fourths of the western region of the park is submerged, due to the rising water level of the Brahmaputra. 
              It was found that 70% of the National Park was flooded as on 3 August 2016. The flooding causes most animals to migrate to elevated and forested regions outside the southern border of the park, such as the Mikir hills. 
              540 animals, including 13 rhinos and mostly hog deers perished in unprecedented floods of 2012.
            </div>            
          </div>
      </span>
      <span class="border border-light border-right-0 border-left-0">
        <a href="" data-toggle="collapse" data-target="#flora" class="list-group-item list-group-item-action">Flora and Fauna</a>
          <div id="flora" class="collapse">
            <div class="container-fluid m-3">  
              Four main types of vegetation exist in this park. These are alluvial inundated grasslands, alluvial savanna woodlands, tropical moist mixed deciduous forests, and tropical semi-evergreen forests. 
              Based on Landsat data for 1986, percent coverage by vegetation is: tall grasses 41%, short grasses 11%, open jungle 29%, swamps 4%, rivers and water bodies 8%, and sand 6%.
              Kaziranga contains significant breeding populations of 35 mammalian species, of which 15 are threatened as per the IUCN Red List. The park has the distinction of being home to the world's largest population of the Greater One-Horned Rhinoceros (1,855),[23][24] wild Asiatic water buffalo (1,666)[25] and eastern swamp deer (468).
              Significant populations of large herbivores include elephants (1,940),[27] gaur (30) and sambar (58). 
              Small herbivores include the Indian muntjac, wild boar, and hog deer.[20][28] Kaziranga has the largest population of the Wild water buffalo anywhere accounting for about 57% of the world population.
              The One-Horned rhinoceros, Royal Bengal Tiger, Asian elephant, wild water buffalo and swamp deer are collectively known as 'Big Five' of Kaziranga.      
            </div>
          </div>
      </span>
    </div>
  </div> <br>
  <div class="container">
    <h2>Images:</h2> <br>
      <div class="row">
        <div class="col-3">
          <img src="assets/kaziranga.jpg" height="200" width="200" alt="photo" class="rounded mx-auto d-block img-thumbnail" data-toggle="modal" data-target="#myModal">
        </div>
        <div class="col-3">
          <img src="assets/kaziranga2.jpg" height="200" width="200"  alt="photo" class="rounded mx-auto d-block img-thumbnail" data-toggle="modal" data-target="#myModal">
        </div>
        <div class="col-3">
          <img src="assets/kaziranga4.jpg"  height="100"  width="200" alt="photo" class="rounded mx-auto d-block img-thumbnail" data-toggle="modal" data-target="#myModal">
        </div>
        <div class="col-3">
          <img src="assets/kaziranga5.jpg" alt="photo" height="200" width="200" class="rounded img-thumbnail mx-auto d-block" data-toggle="modal" data-target="#myModal">   
        </div>
      </div> <br>
      <div class="row">
        <div class="col-3">
          <img src="assets/kaziranga6.jpg" height="200" width="200" alt="photo" class="rounded mx-auto d-block img-thumbnail" data-toggle="modal" data-target="#myModal">
        </div>
        <div class="col-3">
          <img src="assets/kaziranga7.jpg" height="200" width="200"  alt="photo" class="rounded mx-auto d-block img-thumbnail" data-toggle="modal" data-target="#myModal">
        </div>
        <div class="col-3">
          <img src="assets/kaziranga8.jpg"  height="100"  width="200" alt="photo" class="rounded mx-auto d-block img-thumbnail" data-toggle="modal" data-target="#myModal">
        </div>
        <div class="col-3">
          <!-- Image to Open the Modal -->
          <img src="assets/kaziranga9.jpg" alt="photo" height="200" width="200" class="rounded img-thumbnail mx-auto d-block" data-toggle="modal" data-target="#myModal">    
          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Images:</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                 <!-- Modal body -->
                <div class="modal-body">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="assets/kaziranga.jpg" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/kaziranga2.jpg" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/kaziranga4.jpg" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/kaziranga5.jpg" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/kaziranga6.jpg" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/kaziranga7.jpg" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/kaziranga8.jpg" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="assets/kaziranga9.jpg" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>   
        </div>
      </div>
       <br>
       <div class="row">
          <div class="col-5">
            <h2>Images you shared :</h2>
          </div>
          <div class="col-3">
            <div id="pbar">
              <div class="progress">
                <div class="progress-bar progress-bar-animated" [ngStyle]=" { 'width' : currentUpload?.progress + '%' } "></div>
              </div>
              progress : {{currentUpload?.name}} | {{currentUpload?.progress}} % complete
            </div>
          </div>
          <div class="col-2">
            <input #fileupload type="file" style="display: none" (change)="detectFiles($event)" accept="image/*">
            <button  class="btn btn-light" (click)="fileupload.click()">Pick Image</button>
          </div>
          <div class="col-2">
          <button class="btn btn-primary" [disabled]="!selectedFiles" (click)="uploadSingle()">Upload</button>
          </div>
        </div> <br>

        <!-- uploaded images   -->
        <div class="row">
          <div class="container-fluid">
          <div class="column" *ngFor="let file of fileUploads ; let i = index">
            <a href="{{file.url}}">
            <img class="rounded mx-auto d-block img-thumbnail img-responsive" src="{{file.url}}" alt="Snow" style="width:80% ; height: 200px;">
          </a>
          </div>
          </div>
        </div>
      <div class="row"> <br> </div>        
</div>
</div>