<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
                  <br> <br> <br> <br>
                </div>
              </div>
                <div id="carouselExampleIndicators" class="carousel slide shadow-lg" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100 img-fluid img-thumbnail img-responsive " src="assets/peacock.jpeg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                    <h5>Birds</h5>
                                  </div>
                        </div>
                          <div class="carousel-item">
                            <img class="d-block w-100 img-fluid img-thumbnail img-responsive " src="assets/tiger2.jpg" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                    <h5>Tiger</h5>
                                  </div>
                        </div>
                          <div class="carousel-item">
                            <img class="d-block w-100 img-fluid img-thumbnail img-responsive" src="assets/lion.jpg" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                    <h5>Lion</h5>
                                  </div>
                        </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>       
                     </div>
                    </div>
        <div class="col lg 8 shadow">
            <blockquote class="blockquote">
<ul>
    <li>
        <p bclass="mb-0">
    National parks in India are IUCN category II protected areas. India's first national park was established in 1936 as Hailey National Park, now known as Jim Corbett National Park, Uttarakhand. 
    By 1970, India only had five national parks. In 1972, India enacted the Wildlife Protection Act and Project Tiger to safeguard the habitats of conservation reliant species.
</p>
</li>
<li>
<p class="mb-0">
    Further federal legislation strengthening protection for wildlife was introduced in the 1980s. As of July 2018, there were 110 national parks encompassing an area of 40,501 km2 (15,638 sq mi), 
    under protected areas of India category II comprising 1.23% of India's total surface area.
</p>
</li>
<li>
<p class="mb-0">
     According to the Indian Ministry of Environment & Forests, a national park is "[a]n area, whether within a sanctuary or not, [that] can be notified by the state government to be constituted as a National Park,
     by reason of its ecological, faunal, floral, geomorphological, or zoological association or importance, needed to for the purpose of protecting & propagating or developing wildlife therein or its environment.
</p>
</li>
</ul>
</blockquote>
</div>
</div>
</div>