<nav class="navbar navbar-dark bg-dark sticky-top shadow">
  <div class="col-lg-1">
    <img src="assets/mainlogo.jpg" alt="logo" height="50" width="100" class="img-fluid rounded float-left img-thumbnail">
  </div>
  <div class="col-lg-7">
  <h1>National Parks of India</h1>
</div>
<div class="col-lg-4">
  <div class="btn-group btn-group-lg rounded" role="group">
      <button type="button" class="btn btn-outline-info" routerLink="/">Home</button>
      <button type="button" class="btn btn-outline-info" routerLink="/list">List</button>
      <button type="button" class="btn btn-outline-info" routerLink="/gmap">Map</button>
  <button type="button" class="btn btn-outline-info" routerLink="/customer">Sign in</button>
  <button type="button" class="btn btn-outline-info" routerLink="/customerlist">Signup</button>
</div>
</div>
</nav>
<br>
<router-outlet></router-outlet>
