@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }

    tr{
        display: block;
    }

    td.break{
        float: left;
        line-height: 22px;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }

      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .small{
        width: 218px;
        height: 40px;
        display: inline-block;
      }

      .shift{
        margin-left: 50px;
        margin-right: 300px;
        background-color :rgb(80,110,128);
      }

      .line{
        border-left : 2px solid white;
        height: 55px;
      }

      .alignright{
        margin-left: 10px;
      }

      .reduce{
        height: 50px;
        width: 50px;
      }

      .divide{
       border-bottom: 5px solid #2B3E50;
       border-top: 5px solid #2B3E50; 
      }

      .manage{
        height: 200px;
        width: 230px;
      }