<div class="container-fluid">
<h2>List of National Parks:</h2> <br>
<div class="list-group list-group-flush">
  <span class="border border-dark">
       <a routerLink="/kaziranga" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
        <div class="row">
          <div class="col-1">
            <img src="assets/kaziranga3.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
          </div>
          <div class="col-11">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 1. Kaziranga National Park, Assam </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
      </div>
    </a>
  </span>
  <span class="border border-dark">
    <a routerLink="/corbett" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
     <div class="row">
       <div class="col-1">
          <img src="assets/corbet9.jpg" alt="photo" height="300" width="200" class="img-fluid rounded-circle">
       </div>
       <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 2. Jim Corbett National Park, Uttarakhand </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
      <div class="row">
        <div class="col-1">
            <img src="assets/gir1.jpeg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 3. Gir National Park, Gujarat </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
      <div class="row">
        <div class="col-1">
            <img src="assets/bandav5.jpg" alt="photo" height="400" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 4. Bandhavgarh National Park, Madhya Pradesh - The Tiger's Den </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
      <div class="row">
        <div class="col-1">
            <img src="assets/kanha1.jpg" alt="photo" height="10" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 5. Kanha National Park, Madhya Pradesh - The land of Jungle Book </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
      <div class="row">
        <div class="col-1">
            <img src="assets/rantham4.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
        </div>
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 6. Ranthambore Tiger Reserve, Rajasthan </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
      <div class="row">
      <div class="col-1">
          <img src="assets/nagar1.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
      </div>
      <div class="col-11">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <b> 7. Nagarhole National Park, Karnataka </b></h5>
        <small></small>
      </div>
      <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
      <small></small>
    </div>
    </div>
    </a>
  </span>
  <span class="border border-dark">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
      <div class="row">
        <div class="col-1">
            <img src="assets/bandi1.jpg" alt="photo" height="200" width="200" class="img-fluid rounded-circle">
        </div>  
        <div class="col-11">
      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> <b> 8. Bandipur National Park, Karnataka - Tiger reserves in the Nilgiris</b></h5>
          <small></small>
        </div>
        <p class="mb-1">Situated in the state of Karnataka, Bandipur National Park was once the hunting grounds of the Maharaja of Mysore. It was later established as a reserve in 1974, and these deciduous forests rich in wildlife and flora have become a popular tourist attraction since then.</p>
        <small></small>
      </div>
      </div>
      </a>
    </span>
</div>
<div class="row"> <br> </div>
</div>